<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Page title -->
        <title>Kaa'Quotes, Le Royaume de la citation</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet"> 
    </head>
    <body>
    <!-- Contains Title + Menu contents -->
        <header>
            <div id="header_title">
                <h1 id="header_name-home">Kaa'Quotes</h1>
                <div id="header_page-intro">Recueil de citations du Royaume de l'Ogre</div>
            </div>

            <nav id="home_navbar">
                <ul id="home_navbar-items">
                    <li class="navbar-item"><a href="#">Accueil</a></li>
                    <li class="navbar-item"><a href="#">Aléatoire</a></li>
                    <li class="navbar-item"><a href="#">Personnages</a></li>
                    <li class="navbar-item"><a href="#">Saisons</a></li>
                </ul>
            </nav>
            
        </header>
        <!-- Main content -->
        <main>
            <div class="quote">
                <p class="quote_content">
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia quae eligendi, excepturi ipsa rerum nihil minima, adipisci qui dolores beatae dolorum quas officiis tenetur sit quod facilis perspiciatis cumque."
                    <div class="quote_infos">
                        <p class="quote_author">Lorem.</p>
                        <p class="quote_season">Livre I</p>
                    </div>
                </p>
            </div>

            <div class="quote">
                <p class="quote_content">
                    "Est, voluptatibus! Iure, minima, quod architecto sed perferendis necessitatibus quis nihil voluptatum voluptas nostrum quibusdam exercitationem at autem obcaecati voluptates doloribus nemo, dolore asperiores? Asperiores similique dolorem necessitatibus iste ab!"
                </p>
                <div class="quote_infos">
                    <p class="quote_author">Voluptatem.</p>
                    <p class="quote_season">Livre I</p>
                </div>
            </div>

            <div class="quote">
                <p class="quote_content">
                    "Eos fugit nam, modi perspiciatis fugiat aspernatur dicta mollitia similique repudiandae eveniet doloribus totam quibusdam ipsa ducimus repellat dolorem obcaecati in libero quia? Facilis ullam voluptatibus assumenda repellendus mollitia doloremque!"
                </p>
                <div class="quote_infos">
                    <p class="quote_author">Quibusdam.</p>
                    <p class="quote_season">Livre I</p>
                </div>
            </div>
            <div class="quote">
                <p class="quote_content">
                    "Suscipit natus recusandae temporibus optio in. Est aperiam impedit, aut deleniti saepe et ullam itaque excepturi eveniet consequatur fugit corporis exercitationem dolores, harum doloremque beatae reiciendis suscipit numquam totam illum."
                </p>
                <div class="quote_infos">
                    <p class="quote_author">Voluptatum.</p>
                    <p class="quote_season">Livre I</p>
                </div>
            </div>
            <div class="quote">
                <p class="quote_content">
                    "Accusantium tempora repellat reprehenderit asperiores unde ducimus? Quo rerum rem, aliquam voluptates neque laudantium dolore quisquam earum? Odio suscipit inventore neque ipsam nemo cum tempora commodi necessitatibus autem, unde molestiae?"
                </p>
                <div class="quote_infos">
                    <p class="quote_author">Mollitia?</p>
                    <p class="quote_season">Livre I</p>
                </div>
            </div>
            <div class="quote">
                <p class="quote_content">
                    "Pariatur doloremque incidunt laboriosam eligendi voluptate excepturi et consequuntur totam libero dignissimos delectus maxime, illum quisquam velit impedit quae animi ea culpa, dolorum sit cumque vel iste dolores? Consequatur, asperiores."
                </p>
                <div class="quote_infos">
                    <p class="quote_author">Corrupti!</p>
                    <p class="quote_season">Livre I</p>
                </div>
            </div>
            
        </main>

        <!-- Contains footer -->
        <footer>
            
        </footer>
       
    </body>
</html>